<a href="https://colab.research.google.com/github/geersenthil/Topic-Modeling-/blob/main/LDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import

In [21]:
from sklearn.datasets import fetch_20newsgroups
from nltk.tokenize import word_tokenize #Used to extract words from documents
from nltk.stem import WordNetLemmatizer #Used to lemmatize words
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from sklearn import metrics
from gensim.parsing import strip_tags, strip_numeric, strip_multiple_whitespaces, stem_text, strip_punctuation, remove_stopwords
from gensim.parsing import preprocess_string
import sys
from time import time
import re
import pandas as pd
import numpy as np

Load Data into Dataframe

In [22]:
news_group = fetch_20newsgroups()

news_group_data = news_group.data
news_group_target_names = news_group.target_names
news_group_target = news_group.target

In [23]:
news_df = pd.DataFrame({'news': news_group_data})

In [24]:
news_df.head(10)

                                                news
0  From: lerxst@wam.umd.edu (where's my thing)\nS...
1  From: guykuo@carson.u.washington.edu (Guy Kuo)...
2  From: twillis@ec.ecn.purdue.edu (Thomas E Will...
3  From: jgreen@amber (Joe Green)\nSubject: Re: W...
4  From: jcm@head-cfa.harvard.edu (Jonathan McDow...
5  From: dfo@vttoulu.tko.vtt.fi (Foxvog Douglas)\...
6  From: bmdelane@quads.uchicago.edu (brian manni...
7  From: bgrubb@dante.nmsu.edu (GRUBB)\nSubject: ...
8  From: holmes7000@iscsvax.uni.edu\nSubject: WIn...
9  From: kerr@ux1.cso.uiuc.edu (Stan Kerr)\nSubje...

Pre-process data

In [25]:

transform_to_lower = lambda s: s.lower()

remove_single_char = lambda s: re.sub(r'\s+\w{1}\s+', '', s)

# Filters to be executed in pipeline
CLEAN_FILTERS = [strip_tags,
                strip_numeric,
                strip_punctuation, 
                strip_multiple_whitespaces, 
                transform_to_lower,
                remove_stopwords,
                remove_single_char]

# Method does the filtering of all the unrelevant text elements
def cleaning_pipe(document):
    # Invoking gensim.parsing.preprocess_string method with set of filters
    processed_words = preprocess_string(document, CLEAN_FILTERS)
    
    return processed_words

In [26]:
news_data = news_df['news'].apply(cleaning_pipe)

In [27]:
news_data.head()

0    [lerxst, wam, umd, eduthing, subject, car, nnt...
1    [guykuo, carsonwashington, edu, guy, kuo, subj...
2    [twillis, ec, ecn, purdue, edu, thomaswillis, ...
3    [jgreen, amber, joe, green, subject, weitekorg...
4    [jcm, head, cfa, harvard, edu, jonathan, mcdow...
Name: news, dtype: object